*
{
  font-family: 'Inconsolata', monospace;
}

#assembly-area > *
{
  white-space: pre-line;
}

.vmc
{
  display: inline-block;
  width: calc(20% - 4px);
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}

.raw
{
  white-space: pre-line;
}

#vm-area
{
  display: flex;
}